---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables";

img {
    max-width: 100%;
    vertical-align: middle;
}

.navbar {
    position: relative;
}

.navbar-custom {
    position: relative;
    background-color: $shambles-black;
    color: #000000;
    border-radius: 0;
}

.navbar-custom .navbar-nav{
    background-color: $shambles-black;
    min-height: 130px;
}

.navbar-custom .navbar-nav > li > a {
    color: white;
    font-size: 150%;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    background-color: $shambles-black;
    color: $shambles-red;
}

.navbar-custom .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    bottom: 45px;
    position: absolute;
}

.navbar-toggle {
    color: $shambles-red;
}

.cooper {
    font-family: 'CooperBlack';
    color: $shambles-red;
}

.footer {
    font-family: 'CooperBlack';
}
